body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.cellBox {

  border: 70px inset #1C22A4;
  border-radius: 40px 40px 40px 40px;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  min-height: 500%;
  border-left: 150px solid #808080;
  border-right: 150px solid #808080;

}

.prisonerBox{
  display: flex;
  flex-direction:column;
  justify-content:space-around;
  align-items: stretch;
  text-align:justify;
  background-color: darkorange;
  padding: 8px 12px;
  color: blue;
  font-family: Helvetica;
  font-size: 18px;
  border: 5px solid blue;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

#menu-outer {
  height: 60px;

}

.table {
  display: table;   /* Allow the centering to work */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

ul#horizontal-list {
  display: inline;


}
ul#horizontal-list li {

  display: inline;
  margin: 20px;
  background-color: lightblue;
  padding: 8px 20px;
  color: blue;
  text-align: center;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 20px;
  border: 2px solid blue;
  border-radius: 4px;
  list-style-type: none;
  padding-left: 16px

}

button {

  background-color: lightblue;
  padding: 8px 12px;
  color: blue;
  cursor:pointer;
  font-family: Helvetica;
  font-size: 20px;
  border: 2px solid blue;
  border-radius: 4px;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  background-color: lightblue;
  padding: 6px 30px;
  color: black;
  font-family: Helvetica;
  font-size: 40px;
  border: 2px solid blue;
  border-radius: 4px;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {

  background-color: lightgrey;
  padding: 6px 30px;
  color: black;
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
  border: 2px solid blue;
  border-radius: 4px;
}

th {
  background-color: white;
  padding: 4px 30px;
  color: white;
  font-family: Helvetica;
  font-size: 30px;
  text-align: center;
  border: 2px solid white;
  border-radius: 4px;
}

.cellNumber {
  background-color: lightgrey;
  padding: 4px 30px;
  color: black;
  font-family: Helvetica;
  font-size: 30px;
  text-align: center;
  border: 2px solid blue;
  border-radius: 4px;
}

select {
  background-color: lightgrey;
  padding: 6px 30px;
  color: black;
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
  border: 2px solid blue;
  border-radius: 4px;
}
